<div class='jumbotron row'>
  <h1 class='title'>The Cube Game</h1>
</div>
<div class='stage0 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>I’m going to share a game with you.</h1>
    <h1>This game will reveal incredible things about whoever plays it; surprise, shock and delight complete strangers, and has kickstarted more friendships than I know how to count.</h1>
    <h1>Play along and you’ll see. Warning... This Game can only be played once. If you are playing with 2+ beginners; please keep track of your own answers. Then share your scene right before the final review. Its important not to let other's answers modify your own. </h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn0'>Lets Play</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage1 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Remember to describe aloud everything you see. Even if it isn't exactly what I asked for.</h1>
    <h1>There are no right answers here, only your answers.  Take a moment before you continue – the details are important.</h1>
    <h1>I want you to imagine a desert, stretching out as far as your eyes can see. In this desert is a cube.</h1>
    <h1>Your first task is to describe the cube. What does it look like? How large is it? What is it made of? Where exactly is it?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn1'>Next(1/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage2 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>As you look at the desert and your cube, you notice there is also a ladder. Your second task (there are just five) is to describe the ladder. What is it made of? How big is it? Where is it, in relation to the cube?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn2'>Next(2/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage3 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Now imagine that in the scene there is a horse. (Yes, horse. I didn’t say this desert made sense). Your third task: describe the horse. Most importantly: where is the horse, and what is it doing? Where, if anywhere, is it going?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn3'>Next(3/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage4 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>We’re nearly there now. In the scene before you are flowers. Your penultimate task: describe the flowers. How many are there? What do they look like? Where are they, in relation to the horse, cube, ladder and sand?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn4'>Next(4/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage5 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Final question. In the desert there is a storm. Describe the storm. What type of storm is it? Is it near, or far? What direction is it headed? Does it affect the horse, flowers, cube or ladder?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn5'>Next(5/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stageWarning row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>If you’ve been playing along, this is going to be fun. If you didn’t, I must warn you: the next part ruins your ability to play this game ever again. If you won’t want to ruin it forever, go back now. Trust me.</h1>
    <h1>Ready? There’s no going back.</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btnW'>Show Me the results</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stageEnd row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <div style="text-align:center">
      <h1>Now for the Results</h1>
      <hr>
    </div>
    <h1 style="text-align:center">Tell me about the Cube. </h1>
      <h3 style="padding-left:1em;"> The Cube is how you see <i>yourself</i>.
        The trick here is that when asked to describe a blank, abstract entity – a cube – your imagination will tend to project its own identity onto it. This trick is as old as time, but it’s about to get more interesting.
        <br><br><b><i>Size:</i></b> Large cubes belong to confident people. If your cube could fit in your hand then you maybe you are too hard on yourself.
        <br><br><b><i>Placement:</i></b> A cube placed in the center of your vision may mean you enjoy being the center of attention. Dreamers have floating cubes while realists tend to have cube resting in the sand.
        <br><br><b><i>Transparency:</i></b> Transparent cubes belong to transparent people while people who are more safeguarded have opague cubes.
        <br><br><b><i>Glow:</i></b> If your cube shines or glows it means you like to think of yourself as someone who brings sunshine to others around you. Like a sparkling disco ball; you strive to bring life to the party.
      </h3>
    <h1 style="text-align:center">The ladder? </h1>
      <h3 style="padding-left:1em;"> The ladder represents<i> your friends.</i> Or maybe your family and coworkers. The ladder is a representation of your social support system.
        <br><br><b><i>Size:</i></b> Did count the number of rungs? Did it seem like a large ladder to you? Then you have a lot of friends. If it was short but sturdy like a footstool maybe you have small clique of very close friends.
        <br><br><b><i>Placement:</i></b> The closer the ladder is to your cube the closer you feel your friends are to you. Does your ladder lean on your cube? Maybe you feel your friends rely upon you. Is it up in the air pointing to the sky? Maybe you see your friends a key to your success. Or was your ladder abandoned on the sand or even buried within it? You may feel your friends have abandoned you or even that they pull you down.
        <br><br><b><i>Material:</i></b> Is it made of Wood or Steel? Fresh paint or has it began to look worn? Sturdy or makeshift?
        <br><br><b><i>Type:</i></b> I have heard of people seeing rope ladders, footstools or even metal staircases.
      </h3>
    <h1 style="text-align:center">And the Horse?</h1>
      <h3 style="padding-left:1em;"> The horse represents your <i>dream partner</i> . Normally this means a sexual one but it could be a companion like a best friend. Did you notice the gender of your horse?
        <br><br><b><i>Physical appearance:</i></b> The type of horse reveals a lot about what you yearn for in a partner. Shiny Unicorns to Serious Warhorses. The physical characteristics may indicate features you fancy. Spotted coat? Maybe you have a thing for freckles.
        <br><br><b><i>Personality:</i></b> Did your horse appear to be friendly or threatening. Some people imagine a horse giggling to itself.
        <br><br><b><i>Behavior:</i></b> Was your horse nuzzling your cube affectionately or was it taking a bite out of it? Was it walking away or towards your cube?
      </h3>
    <h1 style="text-align:center">The Flowers mean?</h1>
      <h3 style="padding-left:1em;"> The flowers represent <i> children.</i>
        <br><br><b><i>Number:</i></b> relates to how many you imagine having. Some people see just a single, withered daisy; others see a radient garden that spans the entire desert.
        <br><br><b><i>Color:</i></b> The colour and vitality of the flowers can speak to their health and presumed prosperity.
        <br><br><b><i>Placement</i></b> In relation to the cube or the horse can reveal interesting relations; I met one woman whose horse was eating their flowers.
      </h3>
    <h1 style="text-align:center">And the Storm?</h1>
      <h3 style="padding-left:1em;"> The Storm is the embodyment of <i> External Threats.</i> How you perceive risk in your life.
        Was it a distant storm off over the horizon or were you caught in the middle of a mighty maelstorm -- pelting your fragile cube and frightened horse with hailstones. If your horse, flowers or ladder disappears maybe you fear they will abandon you when your world starts to crumble around you.
      </h3>
    <h1 style="text-align:center">So is this all true?</h1>
      <h3 style="padding-left:1em;"> No this is simply a game. You won't be hearing about the mystical truths revealed by horses and flowers on the 6oclock news. However it does have some interesting curious results. I hope you enjoyed this little game with a close friend and I encourage you to share it with others. It is a great ice breaker. Within 6 questions you have more than enough information to segway into deeper conversations about their family, friends, partner, and aspirations. You will leave an ever lasting impression on this person. </h3>
    <div class='col-md-2'></div>
  </div>
<link rel="stylesheet" href="css/index.css">
<script src="js/index.js"></script>
