<div class='jumbotron row'>
  <h1 class='title'>The Cube Game</h1>
</div>
<div class='stage0 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>I’m going to share a game with you.</h1>
    <h1>This game will reveal incredible things about whoever plays it; surprise, shock and delight complete strangers, and has kickstarted more friendships than I know how to count.</h1>
    <h1>Play along and you’ll see. Warning... This Game can only be played once. If you are playing with 2+ beginners; please keep track of your own answers. Then share your scene right before the final review. Its important not to let other's answers modify your own. </h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn0'>Lets Play</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage1 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Remember to describe aloud everything you see. Even if it isn't exactly what I asked for.</h1>
    <h1>There are no right answers here, only your answers.  Take a moment before you continue – the details are important.</h1>
    <h1>I want you to imagine a desert, stretching out as far as your eyes can see. In this desert is a cube.</h1>
    <h1>Your first task is to describe the cube. What does it look like? How large is it? What is it made of? Where exactly is it?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn1'>Next(1/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage2 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>As you look at the desert and your cube, you notice there is also a ladder. Your second task (there are just five) is to describe the ladder. What is it made of? How big is it? Where is it, in relation to the cube?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn2'>Next(2/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage3 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Now imagine that in the scene there is a horse. (Yes, horse. I didn’t say this desert made sense). Your third task: describe the horse. Most importantly: where is the horse, and what is it doing? Where, if anywhere, is it going?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn3'>Next(3/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage4 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>We’re nearly there now. In the scene before you are flowers. Your penultimate task: describe the flowers. How many are there? What do they look like? Where are they, in relation to the horse, cube, ladder and sand?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn4'>Next(4/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stage5 row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Final question. In the desert there is a storm. Describe the storm. What type of storm is it? Is it near, or far? What direction is it headed? Does it affect the horse, flowers, cube or ladder?</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btn5'>Next(5/5)</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stageWarning row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>If you’ve been playing along, this is going to be fun. If you didn’t, I must warn you: the next part ruins your ability to play this game ever again. If you won’t want to ruin it forever, go back now. Trust me.</h1>
    <h1>Ready? There’s no going back.</h1>
    <button class='btn btn-primary btn-block btn-xlarge' id='btnW'>Show Me the results</button>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='stageEnd row'>
  <div class='col-md-2'></div>
  <div class='col-md-8 col-xs-12'>
    <h1>Congrats You are finished</h1>
    <h1>Now for the Results</h1>
    <h1>Tell me about the Cube.</h1>

    <h1>THE CUBE IS <i>YOURSELF.</i></h1>
    <h1>
      The size is ostensibly your ego: a large cube means you’re pretty sure of yourself, a small cube less so.

    </h1><h1>
      The vertical placement of the cube is how grounded you are. Resting on the sand? You’re probably pretty down to earth. Floating in the sky? Your head is in the clouds.
    </h1><h1>
      The cube’s material conveys how open you are: transparent cubes belong to transparent people, opaque cubes are more protective of their minds. Glowing? You’re likely a positive person, who aims to raise the spirits of others. Made of granite? You’re likely protective and resilient.
    </h1><h1>
      If the cube is in the centre it means that you like the attention and you like to be praised.
    </h1><h1>
      The color of the cube represents your personality. In general, if the cube is light you are a positive person and the darker it is the more negative you are. However it may not always be so, you should always pay attention to how you feel about the color. If you like the color then you are a likable personality, it the color seems cold to you, you seem distant to people.
    </h1><h1>
      The trick here is that when asked to describe a blank, abstract entity – a cube – your imagination will tend to project its own identity onto it. This trick is as old as time, but it’s about to get more interesting.
    </h1><h1>
      Okay what about the Ladder?
    </h1><h1>
      The ladder represents<i> your friends.</i>
    </h1><h1>
      The closer the ladder to the cube, the closer you are with your friends. If the ladder is leaning against the cube, this indicates that some friends are relying on you or expecting you to act according to their wishes.
    </h1><h1>
      If the ladder is far away from the cube, it may mean that you either have no friends or you don’t consider their friendship important to you. You either mentally or physically like to distance yourself from your friends.
    </h1><h1>
      The color of the ladder represents the personality that most of your friends have. You can check the meaning of the ladder color in the cube color description.
    </h1><h1>
      The more rungs the ladder has, the more friends you have.
    </h1><h1>
      And the Horse?
    </h1><h1>
      The horse represents your dream partner.
    </h1><h1>
      The type of horse reveals a lot about what you yearn for in a partner. Some people see a steady brown workhorse, others a shining pegasus or unicorn. Make of these people what you will.
    </h1><h1>
      The look of a horse can also indicate the physical features of your ideal partner. Spotted coat? Maybe you have a thing for freckles. Also take note of its personality, some people see a horse giggling to itself.
    </h1><h1>
      Is your horse nuzzling your cube affectionately, or taking a bite out of it? Is it far from your cube, or walking away? This can represent a current partner, or an aspirational one, but the results are often a mix of touching and hilarious.
    </h1><h1>
      Now how about those Flowers?
    </h1><h1>
      The flowers represent <i> children.</i>
    </h1><h1>
      The number of flowers relates to how many you imagine having. Some people see just a single, withered daisy; others a resplendent garden covering the cube and desert beneath. (Guys: watch out for those).
    </h1><h1>
      The colour and vitality of the flowers can speak to their health and presumed prosperity. The placement – particularly in relation to the cube – can reveal interesting relations; I met one woman whose horse was eating their flowers.
    </h1>
    <h1>
      And the Storm?
    </h1><h1>
      Finally, the storm represents <i> threat. </i>
    </h1><h1>
      This speaks to the current state of the person, and how they perceive risk in their life. Some may see a distant storm, on the lip of the horizon, fading from sight. Others may view themselves in the midst of a thunderous apocalypse, hailstones the size of tennis balls pelting their fragile cube and horse. Chances are those people have some immediate trauma in their life.
      <h1> Now is this all correct? Of course it isn’t. You won’t be reading any peer-reviewed journals on the soothsaying properties of horses and ladders. This is a game, albeit one that has endured in various forms for thousands of years.
      </h1><h1>
        But if you play along – and I encourage you to try this on others – you will find it appears to have an uncanny sense of reliability to it. There might be many reasons: people seem to project themselves onto abstract objects (the cube), and their affections onto animals (the horse). Our nurturing of flowers bears some resemblance to that of children, a storm is a signal of environmental danger that taps into our sense of unease, and a ladder is something we find supporting.
      </h1><h1>
        Maybe it’s all just wishful psychobabble.
      </h1><h1>
        But I’ll tell you what. It’s an incredible tool for getting to know someone. In five minutes you’re able to discuss a stranger’s character, friends, partner, children, risks, dreams and aspirations. You will stand out as someone memorable, and you probably had a right laugh too.</h1>
      </div>
      <div class='col-md-2'></div>
    </div>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    
